extends ../layout/index

block contenido
     div.py-10 
        h2.text-center.font-extrabold.my-10.text-4xl.text-flax Bienes
            span.font-normal.text-negro Raices
        h2.text-center.font-extrabold.text-2xl=page 

         div(class="bg-blanco shadow py-8 px-6 rounded-lg max-w-2xl mx-auto font-bold text-blanco uppercase")
        p(class= error ? 'bg-red-500': 'bg-green-500' )=msg

        if(!error)
        a(href="/auth/login/" class="text-center font-bold text-sm text-slate-600 uppercase mt-10 block") Ya puedes iniciar sesión

