extends ../layout/index

block contenido
    .py-10.flex.justify-center.items-center.h-screen.bg-sjyblue
        .bg-skyblue.shadow-md.rounded-lg.p-8.max-w-lg.w-full.text-center
            h1.text-4xl.font-extrabold.text-flax Bienes
                span.font-normal.text-negro Raíces
            h2.text-2xl.font-extrabold.mt-4.mb-6.text-gray-800= page
            p.text-xl.text-gray-600.mb-6= msg
           
